.dialogs {
    display: grid;
    grid-template-columns: 3fr 9fr;

}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: gold;
}



.dialog {
    display: flex;
    padding: 5px;
    padding-right: 20px;
    margin-bottom: 27px;
}

.img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.nav {
    color: navajowhite;
    text-decoration: none;
}

.active {
    color: goldenrod;
}